* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
/* ------------------------------------- */
/* FONTS */
/* ------------------------------------- */
@font-face { font-family: 'proxima_novabold'; src: url('/fonts/proxima_nova_bold-webfont.woff2') format('woff2'), url('/fonts/proxima_nova_bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'proxima_novaregular'; src: url('/fonts/proxima_nova_reg-webfont.woff2') format('woff2'), url('/fonts/proxima_nova_reg-webfont.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'proxima_novaregular_italic'; src: url('/fonts/proximanova-regularitalic-webfont.woff2') format('woff2'), url('/fonts/proximanova-regularitalic-webfont.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
/* ------------------------------------- */
/* RESET */
/* ------------------------------------- */
a, a:visited {
	border-bottom: 2px solid #e1e1e1;
	color: #333;
	text-decoration: none;
	outline: 0;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.2s;
	-webkit-font-smoothing: antialiased;
}
a:hover, a:active {
	border-color: #000;
	color: #000;
}
body {
	font-family: 'proxima_novaregular', sans-serif;
	font-size: 18px;
}
em {
	font-family: 'proxima_novaregular_italic', sans-serif;
}
h1, h2, h3, h4 {
	display: block;
	font-family: 'proxima_novabold', sans-serif;
	line-height: 150%;
}
h1 {
	font-size: 36px;
	line-height: 40px;
}
h2 {
	font-family: 'proxima_novaregular', sans-serif;
	font-size: 24px;
	margin: 24px 0;
	opacity: .6;
}
h3 {
	font-family: 'proxima_novaregular', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
h4 {
	font-family: 'proxima_novaregular', sans-serif;
	font-size: 14px;
	letter-spacing: .01em;
	opacity: .6;
}
hgroup {
	margin-bottom: 36px;
}
hgroup h2 {
	margin-top: 12px;
}
li {
	line-height: 28px;
	margin-bottom: 6px;
}
p {
	line-height: 28px;
	margin-bottom: 24px;
}
small {
	opacity: .8;
}
strong {
	font-family: 'proxima_novabold', sans-serif;
}
ul {
	margin-left: 22px;
}
/* ------------------------------------- */
/* CHANGELOG */
/* ------------------------------------- */
.changelog {
	margin: 4em 0 0 0;
	padding-left: 2.25em;
	position: relative;
}
.changelog .day {
	margin-top: 48px;
	position: relative;
}
.changelog .day:before {
	background-color: #bbb;
	border-radius: 100%;
	content: '';
	display: inline-block;
	height: 20px;
	left: -39px;
	position: absolute;
	top: 3.5px;
	width: 20px;
}
.changelog .day:after {
	background: #ddd;
	content: '';
	display: block;
	height: calc(100% + 60px);
	left: -30px;
	position: absolute;
	top: 22px;
	width: 1px;
}
.changelog .day h3 {
	color: #666;
	text-transform: none;
}
.changelog .task {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}
.changelog .task .badge {
	border-radius: 6px;
	color: #fff;
	flex-grow: 0;
	flex-shrink: 0;
	font-family: 'proxima_novabold', sans-serif;
	font-size: 12px;
	margin-top: 8px;
	padding: 8px 16px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 89px;
}
.changelog .task .badge.added {
	background: #0077CC;
}
.changelog .task .badge.updated {
	background: #6269C5;
}
.changelog .task .badge:before {
	background: #ddd;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	right: 100%;
	width: 30px;
	top: 50%;
}
.changelog .task .desc {
	flex-grow: 1;
	flex-shrink: 1;
	padding-left: 24px;
	position: relative;
	top: 10px;
	width: calc(100% - 224px);
}
/* ------------------------------------- */
/* CONTRIBUTORS */
/* ------------------------------------- */
.contributors {
	align-items: center;
	border-top: 1px solid #ccc;
	display: flex;
	margin-top: 80px;
	padding-top: 24px;
}
.contributors .people {
	font-size: 14px;
	line-height: 18px;
	margin-left: 16px;
	position: relative;
	top: -2px;
}
.contributors .people em {
	font-size: 12px;
	opacity: 0.5;
}
.contributors .person {
	border: none !important;
	margin-left: 3px;
	position: relative;
	top: 6px;
}
.contributors .person img {
	border-radius: 100%;
	height: 20px;
	width: 20px;
}
/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */
header {
	align-items: center;
	background: #fafafa;
	border-right: 1px solid #f2f2f2;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 20%;
}
header a {
	border-bottom: none;
	display: block;
	margin-bottom: 36px;
}
header section {
	position: absolute;
	text-align: center;
	width: 195px;
}
/* ------------------------------------- */
/* MAIN */
/* ------------------------------------- */
main {
	margin-left: 20%;
	max-width: 60%;
	padding: 54px;
}
main h3 {
	margin: 56px 0 24px;
}
main h3 .hash {
	border: none;
	display: none;
	margin-left: 4px;
}
main h3:hover .hash {
	display: inline-block;
}
main .list a {
	display: block;
	margin-bottom: 24px;
}
/* ------------------------------------- */
/* MODAL */
/* ------------------------------------- */
.modal {
	background: #F9F9F9;
	background-clip: padding-box;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(42,59,71,.2),0 10px 40px rgba(42,59,71,.3);
	cursor: auto;
	display: block !important;
	left: auto!important;
	margin: 30px auto;
	max-width: 568px;
	opacity: 0;
	outline: 0;
	position: relative!important;
	text-align: left;
	transition: opacity 125ms ease-in-out;
	z-index: 2147483647;
}
.modal_backdrop {
	background-color: rgba(12,53,99,.7);
	bottom: 0;
	cursor: pointer;
	display: none;
	left: 0;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	transition: opacity 125ms ease-in-out;
	top: 0;
	z-index: 2147483646;
}
.modal_backdrop.show {
	opacity: 1;
}
.modal_backdrop.show .modal {
	opacity: 1;
}
.modal_body {
	overflow: hidden;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
}
.modal_body p {
	margin: -7px 0 16px;
}
.modal_body ol {
	margin: 0 0 24px 20px;
}
.modal_close.btn {
	background: #F9F9F9;
	border-color: #F9F9F9;
	color: #67727B;
	float: right;
	font-size: 24px;
	font-weight: 300;
	height: auto;
	line-height: 21px;
	opacity: 0.5;
	padding: 0;
}
.modal_close.btn:active,
.modal_close.btn:focus,
.modal_close.btn:hover {
	background: #F9F9F9;
	border-color: #F9F9F9;
	color: #67727B;
	opacity: 1;
}
.modal_footer {
	background: #F9F9F9;
	border-radius: 0 0 2px 2px;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
	overflow: hidden;
	padding: 0 20px 20px;
	text-align: center;
}
.modal_footer .btn {
	width: 100%;
}
.modal_header {
	border-bottom: 1px solid #DDD;
	border-radius: 2px 2px 0 0;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	margin: 0;
	overflow: hidden;
	padding: 14px 20px;
}
.modal_header span {
	display: block;
	font-size: 16px;
	font-weight: 300;
	margin-top: -2px;
	opacity: 0.6;
}
/* ------------------------------------- */
/* NAV */
/* ------------------------------------- */
nav {
	align-items: center;
	display: flex;
	margin-bottom: 80px;
}
nav .left {
	flex: 1;
	max-width: 100%;
	min-width: 0;
}
nav .left a,
nav .left strong {
	margin-right: 24px;
}
nav .right {
	text-align: right;
}
nav .right a {
	margin-left: 24px;
}
/* ------------------------------------- */
/* NEXT PREV */
/* ------------------------------------- */
.nextprev {
	align-items: flex-start;
	display: flex;
}
.nextprev a strong {
	display: block;
	font-size: 24px;
}
.nextprev .next {
	margin-right: auto !important;
}
.nextprev .prev {
	margin-right: 48px;
}
/* ------------------------------------- */
/* OUTLINE */
/* ------------------------------------- */
.outline {
	position: fixed;
	right: 6%;
	top: 55px;
	width: 12%;
}
.outline li {
	list-style: none;
}
.outline li a {
	border: none;
	color: #666;
	font-size: 13px;
	text-transform: capitalize;
	transition: all 50ms ease-out;
}
.outline li a.active {
	color: #000;
}
.outline strong {
	display: block;
	margin-bottom: 10px;
}
.outline ul {
	margin-left: 2px;
}
/* ------------------------------------- */
/* SHARE */
/* ------------------------------------- */
.share {
	right: 54px;
	position: fixed;
	text-align: center;
	top: 54px;
	z-index: 2;
}
.share a {
	border: none;
	display: block;
	margin-bottom: 24px;
}
.share p {
	color: #666;
	font-size: 8px;
	line-height: 18px;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.share svg {
	fill: #aaa;
}
.share svg:hover {
	fill: #444;
}
/* ------------------------------------- */
/* STATUS */
/* ------------------------------------- */
.status .stage {
	background: #999;
	border-radius: 100%;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin-left: 2px;
	position: relative;
	text-transform: uppercase;
	top: -1px;
	width: 8px;
	z-index: 2;
}
.status.boxed {
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
	margin-top: 18px;
	padding: 8px 10px 7px;
	text-transform: uppercase;
}
.status.boxed a {
	border: none;
	margin-left: 10px;
	padding-left: 11px;
	position: relative;
}
.status.boxed a:before {
	background: #ddd;
	content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: 0;
    width: 1px;
}
.status.boxed .stage {
	margin: 0 7px 0 0;
}
.status.complete .stage {
	background: #39AC6E;
}
.status.complete .stage:before {
	content: "Still open to feedback";
	margin-left: -80px;
	width: 160px;
}
.status.progress .stage {
	background: #FAB347;
}
.status.progress .stage:before {
	content: "Still needs refinement";
	margin-left: -85px;
	width: 170px;
}
.status.unstarted .stage {
	background: #93A1B0;
}
.status.unstarted .stage:before {
	content: "Course not yet started";
	margin-left: -85px;
	width: 170px;
}
.status .stage:before,
.status .stage:after {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.status .stage:before {
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	border-radius: 3px;
	bottom: 150%;
	color: #fff;
	font-size: 14px;
	left: 50%;
	line-height: 1.2;
	margin-bottom: 5px;
	padding: 7px;
	position: absolute;
	text-align: center;
	text-transform: none;
}
.status .stage:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	bottom: 150%;
	content: " ";
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin-left: -5px;
	position: absolute;
	width: 0;
}
.status .stage:hover:before,
.status .stage:hover:after {
	opacity: 1;
	visibility: visible;
}
/* ------------------------------------- */
/* RESPONSIVE */
/* ------------------------------------- */
@media only screen and (max-width: 1026px) {
	.changelog .task .desc {
		padding-left: 0;
		width: 100%;
	}
	header {
		bottom: auto;
		display: block;
		padding: 24px 54px;
		position: relative;
		text-align: center;
		width: 100%;
	}
	header section {
		position: relative;
		text-align: left;
	}
	header section img {
		height: 61px;
		width: 61px;
	}
	main {
		margin-left: 0;
		max-width: 100%;
	}
	nav {
		display: block;
		font-size: 14px;
		line-height: 30px;
	}
	nav .btn {
		display: none;
	}
	nav .left a,
	nav .left strong {
		margin-right: 12px;
	}
	nav .right {
		text-align: left;
		width: 100%;
	}
	nav .right a {
		margin: 0 12px 0 0;
	}
	.outline {
		display: none;
	}
	.share {
		display: none;
	}
}
/* ------------------------------------- */
/* EXTERNAL */
/* ------------------------------------- */
/**
 * seed-button v0.3.0
 * Button component pack for Seed
 * Licensed under MIT
 */
 .btn {
	appearance: none;
	background-color: white;
	border-color: #c1cbd4;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	box-shadow: none;
	box-sizing: border-box;
	color: #2a3b47;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: normal;
	height: 33px;
	line-height: 34px;
	outline: none;
	padding: 0 1em;
	transition: none;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none; 
}
.btn:hover {
	background-color: #f9fafa;
	border-color: #c1cbd4;
	color: #2a3b47;
	text-decoration: none; 
}
.btn:active {
	background-color: #e3e8eb;
	border-color: #c1cbd4;
	color: #2a3b47; 
}
.btn:focus {
	border-color: #3197d6;
	box-shadow: none;
	color: #2a3b47; 
}
.btn:focus:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset; 
}
.btn--lg {
	font-size: 1.25rem;
	height: 52px;
	line-height: 50px;
	padding: 0 1.5em;
}
.btn--primary {
	background-color: #3197d6;
	border-color: #2581b9;
	color: white; 
}
.btn--primary:hover {
	background-color: #288cca;
	border-color: #2581b9;
	color: white; 
}
.btn--primary:active {
	background-color: #2581b9;
	border-color: #2581b9;
	color: white; 
}
.btn--primary:focus {
	border-color: #2581b9;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
	color: white; 
}
.btn--primary:visited {
	color: white; 
}
.btn--primary:focus:active {
	color: white; 
}